dist/
build/
tmp/
*.pyc
*.sublime-*
MANIFEST
conf/diamond.conf
storage
conf/collectors
conf/handlers
version.txt
src/diamond/version.py
.idea
src/*.egg-info
*.log
.tox
gentoo/diamond-*.ebuild
.vagrant

bin/activate*
bin/pip*
bin/python*
bin/easy_install*
bin/wheel
diamond.pid
lib/
include/
pip-selfcheck.json

*.swp
bin/pbr

*.log.*
